#app {
  > .Layout {
    position: relative;
  }

  // 标题的链接(#)
  .vp-doc .header-anchor {
    font-size: 28px;
    &:hover { color: var(--doc-color-primary); }
  }
  
  // 头部
  .VPNav {
    background-color: var(--vp-c-bg);
    // header 底部边框
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--vp-c-bg);
      filter: brightness(0.9);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .container {
      max-width: 100% !important;
    }
    // 左 logo 
    .title {
      font-size: 26px;
      color: #802ae8;
    }
    // 右
    .content {
      backdrop-filter: unset;
    }
  }

  // 首页
  #VPContent.is-home {
    .VPHome {
      .VPHomeHero {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);

        // 名称
        .name {
          .clip { 
            cursor: pointer;
            font-size: 86px;
            transition: .3s all;
            &:hover {
              text-shadow: 0 0 15px var(--doc-color-primary);
            }
          }
        }
        // 标题
        .text { 
          max-width: 100%; 
        }
        // 开始按钮
        .actions {
          .action:first-child .VPButton {
            padding: 0 40px;
            font-weight: bold;
          }
        }
      }
    }
  }

  // 侧边栏
  .VPSidebar {
    border-right: 1px solid #dddddd;
    overflow-y: hidden;
    width: unset;
    padding-left: 32px;
    &:hover { overflow-y: auto; }
    .nav {
      margin-top: 24px;
      .title .title-text { font-size: 18px; }
      .items {
        > a {
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          transition: color 0s, background-color .3s;
          padding: 8px 14px !important;
          border-radius: var(--doc-border-radius);
          &:hover { background-color: #ddd; }
          &.active {
            color: #fff;
            background-color: var(--doc-color-primary);
          }
        }
      }
    }
  }

  // 文档内容
  #VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width);
    position: relative;
    .VPDoc {
      .content {
        padding-bottom: var(--doc-footer-height);
        position: unset;
        .content-container {
          margin: 0;
          max-width: unset;
          // 表格
          table {
            display: table;
            width: 100%;
            tr, th, td { border: none; }
          }
          // tip 区块
          .tip.custom-block {
            border-radius: var(--doc-border-radius);
          }
        }
      }
    }
  }

  // 示例区域
  .VPDoc .content {
    [class*="language-"] {
      border: 1px solid var(--doc-border-color);
      border-radius: var(--doc--border-radius);
    }
  }
  
  // 文档底部
  .VPDocFooter {
    .prev,
    .next {
      border-radius: var(--doc-border-radius);
      position: relative;
      &::after {
        content: '<';
        color: var(--doc-color-primary);
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .next {
      &::after {
        content: '>';
        right: 4px;
      }
    }
    .pager-link {
      border-radius: 0;
      &:hover {
        border-color: transparent;
        border-bottom-color: var(--doc-color-primary);
        box-shadow: 0 2px 0 0 var(--doc-color-primary);
      }
    }
  }
}

body.vi-scroll-hide {
  #app .VPNav {
    width: calc(100% - 8px);
  }
}

html.dark {
  #app {
    // 头部
    .VPNav {
      &::after { filter: brightness(1.9); }
    }
    
    // 侧边栏
    .VPSidebar {
      border-right: 1px solid #555555;

      .nav .items > a {
        &:hover { background-color: #555555; }
        &.active {
          background-color: var(--doc-color-primary);
        }
      }
    }

    // 内容 
    #VPContent.has-sidebar {

      // 底部颜色
      .footer-wrap {
        filter: brightness(2);
      }
    }
  }
}

// 非 PC 端
@media screen and (max-width: 959px) {
  #app .Layout {
    .VPSidebar {
      width: calc(100vw - 64px);
    }
    #VPContent {
      padding: 0;
      .content {
        padding-bottom: calc(var(--doc-footer-height) / 2) !important;
      }
      .footer-wrap {
        width: 100% !important;
      }
    }
  }
}