:root {
  /** 文档相关 */
  --doc-bg-color: #ffffff;
  --doc-padding: 18px;
  --doc-scroll-bar-wh: 8px;
  --doc-scroll-bar-color: #dbdbdb;
  --doc-scroll-bar-color-deep: #cecece;
  --doc-basic-font-size: 14px;
  --doc-border-color: #dddddd;
  --doc-font-color: #555555;
  --doc-footer-height: 300px;
  --doc-search-mask-color: #eeeeeeaa;
  --doc-search-modal-shadow-color: #555555;
  --doc-search-result-item-shadow-color: #ddd;
  --doc-shadow-color: #dcd6e4;
  --doc-base-radius: 5px;
  --doc-color-primary: #802ae8;
  --doc-color-success: #72d342;
  --doc-color-info: #c2c2c2;
  --doc-color-warning: #e2b72b;
  --doc-color-danger: #e25f2b;
  --doc-color-white: #ffffff;
  --doc-homepage-animation-duration: 1s;
  --doc-backtop-shadow-color: #dddddd;

  /** vitepress 首页 */
  --vp-button-brand-border: var(--vi-color-primary);
  --vp-button-brand-hover-border: var(--vi-color-primary);
  --vp-button-brand-hover-text: var(--vi-color-primary);
  --vp-button-brand-hover-bg: transparent;
  --vp-button-brand-bg: var(--vi-color-primary);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vi-color-primary), #4d2ae8, violet);

  /** vitepress 侧边栏 */
  --vp-c-brand: #802ae8;
  --vp-c-bg-alt: unset;
  --vp-c-divider-light: transparent;
  --vp-sidebar-width: 300px;

  /** vitepress 内容区 */
  --vp-code-block-bg: #f9f9f9;
  --vp-code-copy-code-active-text: 000;
  --vp-c-text-dark-3: 000;
  --vp-c-brand-dark: var(--vi-color-primary);
  --vp-custom-block-tip-bg: #892be211;
  --vp-custom-block-tip-text: var(--vi-color-primary);
  --vp-custom-block-tip-border: var(--vi-color-primary);
}

#app {
  > .Layout {
    position: relative;
  }

  // 标题的链接(#)
  .vp-doc .header-anchor {
    font-size: 28px;
    &:hover { color: var(--vi-color-primary); }
  }
  
  // 头部
  .VPNav {
    background-color: var(--vp-c-bg);
    // header 底部边框
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--vp-c-bg);
      filter: brightness(0.9);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .container {
      max-width: 100% !important;
    }
    // 左 logo 
    .title {
      font-size: 26px;
      color: #802ae8;
    }
    // 右
    .content {
      backdrop-filter: unset;
    }
  }

  // 首页
  #VPContent.is-home {
    .VPHome {
      .VPHomeHero {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);

        @keyframes fromTop {
          from { transform: translateY(-500%); }
          to { transform: translateY(0%); }
        }
        @keyframes fromBottom {
          from { transform: translateY(500%); }
          to { transform: translateY(0%); }
        }
        @keyframes fromLeft {
          from { transform: translateX(-500%); }
          to { transform: translateY(0%); }
        }
        @keyframes fromRight {
          from { transform: translateX(500%); }
          to { transform: translateY(0%); }
        }
        // 名称
        .name {
          animation: fromTop var(--doc-homepage-animation-duration);
          span { font-size: 86px; }
        }
        // 标题
        .text { 
          max-width: 100%; 
          animation: fromLeft var(--doc-homepage-animation-duration);
        }
        .tagline {
          animation: fromRight var(--doc-homepage-animation-duration);
        }
        // 开始按钮
        .actions {
          animation: fromBottom var(--doc-homepage-animation-duration);
          .action:first-child .VPButton {
            padding: 0 40px;
            font-weight: bold;
          }
        }
      }
    }
  }

  // 侧边栏
  .VPSidebar {
    border-right: 1px solid #dddddd;
    overflow-y: hidden;
    width: unset;
    padding-left: 32px;
    &:hover { overflow-y: auto; }
    .nav {
      margin-top: 24px;
      .title .title-text { font-size: 18px; }
      .items {
        > a {
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          transition: color 0s, background-color .3s;
          padding: 8px 14px !important;
          border-radius: var(--vi-base-radius);
          &:hover { background-color: #ddd; }
          &.active {
            color: #fff;
            background-color: var(--vi-color-primary);
          }
        }
      }
    }
  }

  // 文档内容
  #VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width);
    .VPDoc {
      .content {
        padding-bottom: var(--doc-footer-height);
        .content-container {
          margin: 0;
          max-width: unset;
          // 表格
          table {
            display: table;
            width: 100%;
            tr, th, td { border: none; }
          }
          // tip 区块
          .tip.custom-block {
            border-radius: var(--vi-base-radius);
          }
        }
      }
    }
  }

  // 示例区域
  .VPDoc .content {
    .examples {
      border: 1px solid var(--doc-border-color);
      border-radius: var(--vi-base-radius);
      padding: var(--doc-padding);
    }
    [class*="language-"] {
      border: 1px solid var(--doc-border-color);
      border-radius: var(--vi-base-radius);
      // height: 0px;
      // height: unset;
    }
  }
  
  // 文档底部
  .VPDocFooter {
    .prev,
    .next {
      border-radius: var(--vi-base-radius);
      position: relative;
      &::after {
        content: '<';
        color: var(--vi-color-primary);
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .next {
      &::after {
        content: '>';
        right: 4px;
      }
    }
    .pager-link {
      border-radius: 0;
      &:hover {
        border-color: transparent;
        border-bottom-color: var(--vi-color-primary);
        box-shadow: 0 2px 0 0 var(--vi-color-primary);
      }
    }
  }
}

// dark 主题
html.dark {
  &:root {
    --doc-scroll-bar-color: #555555;
    --doc-scroll-bar-color-deep: #666666;
    --doc-border-color: #555555;
    --vp-code-block-bg: #3c3841;
    --search-mask-color: #000000aa;
    --search-modal-shadow-color: #000000;
    --doc-bg-color: #242424;
    --toast-info-color: #202121;
    --shadow-color: #1a1a1a;
    --doc-search-modal-shadow-color: #000000;
    --doc-search-result-item-shadow-color: #0f0f0f;
    --doc-backtop-shadow-color: #000000;
  }

  #app {
    // 头部
    .VPNav {
      &::after { filter: brightness(1.9); }
    }
    
    // 侧边栏
    .VPSidebar {
      border-right: 1px solid #555555;

      .nav .items > a {
        &:hover { background-color: #555555; }
        &.active {
          background-color: var(--vi-color-primary);
        }
      }
    }

    // 内容 
    #VPContent.has-sidebar {

      // 底部颜色
      .footer-wrap {
        filter: brightness(2);
      }
    }
  }
}
