#app {
  > .Layout {
    position: relative;
  }

  // 标题的链接(#)
  .vp-doc a {
    font-size: 28px;
    &:hover { color: var(--primary-color); }
  }
  
  // 头部
  .VPNav {
    background-color: var(--vp-c-bg);
    // header 底部边框
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: var(--vp-c-bg);
      filter: brightness(0.9);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .container {
      max-width: 100% !important;
    }
    // 左 logo 
    .title {
      font-size: 26px;
      color: #802ae8;
    }
    // 右
    .content {
      backdrop-filter: unset;
    }
  }

  // 首页
  #VPContent.is-home {
    .VPHome {
      .VPHomeHero {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);

        @keyframes fromTop {
          from { transform: translateY(-500%); }
          to { transform: translateY(0%); }
        }
        @keyframes fromBottom {
          from { transform: translateY(500%); }
          to { transform: translateY(0%); }
        }
        @keyframes fromLeft {
          from { transform: translateX(-500%); }
          to { transform: translateY(0%); }
        }
        @keyframes fromRight {
          from { transform: translateX(500%); }
          to { transform: translateY(0%); }
        }
        // 名称
        .name {
          animation: fromTop 1s;
          span { font-size: 86px; }
        }
        // 标题
        .text { 
          max-width: 100%; 
          animation: fromLeft 1s;
        }
        .tagline {
          animation: fromRight 1s;
        }
        // 开始按钮
        .actions {
          animation: fromBottom 1s;
          .action:first-child .VPButton {
            padding: 0 40px;
            font-weight: bold;
          }
        }
      }
    }
  }

  // 侧边栏
  .VPSidebar {
    border-right: 1px solid #dddddd;
    overflow-y: hidden !important;
    width: unset;
    padding-left: 32px;
    &:hover { overflow-y: auto !important; }
    .nav {
      margin-top: 24px;
      .title .title-text { font-size: 18px; }
      .items {
        > a {
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          transition: color 0s, background-color .3s;
          padding: 8px 14px !important;
          border-radius: var(--border-radius);
          &:hover { background-color: #ddd; }
          &.active {
            color: #fff;
            background-color: var(--primary-color);
          }
        }
      }
    }
  }

  // 文档内容
  #VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width);
    .VPDoc {
      .content {
        padding-bottom: var(--footer-height);
        .content-container {
          margin: 0;
          max-width: unset;
          table {
            width: 100%;
            display: table;
          }
        }
      }
    }
  }
  
  // 文档底部
  .VPDocFooter {
    display: none !important;
  }
}

// dark 主题
html.dark {
  &:root {
    --scroll-bar-color: #555;
    --border-color: #555;
  }

  #app {
    // 头部
    .VPNav {
      &::after { filter: brightness(1.9); }
    }
    
    // 侧边栏
    .VPSidebar {
      border-right: 1px solid #555555;
      overflow-y: hidden !important;

      .nav .items > a {
        &:hover { background-color: #555555; }
        &.active {
          background-color: var(--primary-color);
        }
      }
    }

    // 内容 
    #VPContent.has-sidebar {

      // 底部颜色
      .footer-wrap {
        filter: brightness(2);
      }
    }
  }
}
