:root {
  --vi-color-primary: #802ae8;
  --vi-color-primary-weak: #f1e2ff;
  --vi-color-success: #72d342;
  --vi-color-success-weak: #eaffe0;
  --vi-color-info: #c2c2c2;
  --vi-color-info-weak: #ececec;
  --vi-color-warning: #e2b72b;
  --vi-color-warning-weak: #fff8e0;
  --vi-color-danger: #e25f2b;
  --vi-color-danger-weak: #ffe4da;
  --vi-color-white: #fff;
  --vi-color-black: #000;
  --vi-color-black-weak: #666;
  --vi-color-gray: #dddddd;
  --vi-color-shadow: #dcd6e4;
  --vi-color-mask-black: rgba(0, 0, 0, 0.5);

  --vi-base-padding: 18px;
  --vi-base-font-size: 14px;
  --vi-base-radius: 5px;
  --vi-font-size-small: 12px;
  --vi-font-size-large: 18px;
  --vi-font-size-18: 18px;
  --vi-bg-color: #ffffff;
  --vi-shadow-dark: 0 0 18px rgba(0, 0, 0, 0.2);

  --vi-animation-duration: 0.3s;
  --vi-opacity-half: 0.666667;

  /** vi-button */
  --vi-button-animation-duration: 0.1s;
  --vi-button-text-bg-color: #f5f5f5;
  --vi-button-round-radius: 20px;
  --vi-button-circle-wh: 38px;

  /** vi-header、vi-main、vi-aside、vi-footer */
  --vi-header-height: 80px;
  --vi-header-padding: 0 18px;
  --vi-main-padding: 18px;
  --vi-aside-width: 300px;
  --vi-footer-height: 80px;
  --vi-footer-padding: 0 18px;

  /** vi-dialog */
  --vi-dialog-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}