:root {
  --doc-color-primary: #802ae8;
  --doc-color-success: #72d342;
  --doc-color-info: #c2c2c2;
  --doc-color-warning: #e2b72b;
  --doc-color-danger: #e25f2b;
  --doc-color-violet: #ee82ee;
  --doc-color-white: #ffffff;
  --doc-bg-color: #ffffff;
  --doc-font-color: #555555;
  --doc-shadow-color: #dcd6e4;
  --doc-border-color: #dddddd;
  --doc-border-radius: 5px;
  --doc-font-size: 14px;
  --doc-padding: 18px;
  --doc-homepage-animation-duration: 1s;
  --doc-footer-height: 300px;
  --doc-backtop-shadow-color: #dddddd;
  --doc-scroll-bar-wh: 8px;
  --doc-scroll-bar-color: #dbdbdb;
  --doc-scroll-bar-color-deep: #cecece;
  --doc-search-mask-color: #eeeeeeaa;
  --doc-search-modal-shadow-color: #555555;
  --doc-search-result-item-shadow-color: #ddd;
  --doc-example-padding: 18px;
  --doc-example-header-bg-color: #ececec;
  --doc-example-border-color: #ececec;
  --doc-example-footer-bg-color: #e0cbf9;
  --doc-example-main-bg-color: #cba7f8;
  --doc-example-aside-bg-color: #d6c1ef;

  // vitepress 首页
  --vp-button-brand-border: var(--doc-color-primary);
  --vp-button-brand-hover-border: var(--doc-color-primary);
  --vp-button-brand-hover-text: var(--doc-color-primary);
  --vp-button-brand-hover-bg: transparent;
  --vp-button-brand-bg: var(--doc-color-primary);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--doc-color-primary), #4d2ae8, violet);
  --vp-button-brand-active-border: var(--doc-color-primary);

  // vitepress 侧边栏
  --vp-c-brand: #802ae8;
  --vp-c-bg-alt: unset;
  --vp-c-divider-light: transparent;
  --vp-sidebar-width: 300px;

  // vitepress 内容区
  --vp-code-block-bg: #f9f9f9;
  --vp-code-copy-code-active-text: 000;
  --vp-c-text-dark-3: 000;
  --vp-c-brand-dark: var(--doc-color-primary);
  --vp-custom-block-tip-bg: #892be211;
  --vp-custom-block-tip-text: var(--doc-color-primary);
  --vp-custom-block-tip-border: var(--doc-color-primary);
}

html.dark {
  $types: primary, success, info, warning, danger;

  &:root {
    --doc-scroll-bar-color: #555555;
    --doc-scroll-bar-color-deep: #666666;
    --doc-border-color: #555555;
    --doc-bg-color: #242424;
    --doc-search-modal-shadow-color: #000000;
    --doc-search-result-item-shadow-color: #0f0f0f;
    --doc-backtop-shadow-color: #000000;
    --doc-example-header-bg-color: #303030;
    --doc-example-border-color: #555555;
    
    // vitepress
    --vp-code-block-bg: #3c3841;
  }

  .vi-button {
    --vi-button-bg-color-weak: #222222;
    &.is-text-btn {
      --vi-button-text-bg-color: #363636;
    }
  }
  .vi-divider {
    --vi-color-white: var(--doc-bg-color);
  }
  .vi-row-demo {
    --doc-shadow-color: #4e4e4e;
    .vi-col {
      --doc-color-violet: #c365c3;
    }
  }
  .vi-flex-demo {
    --doc-example-footer-bg-color: #a898ba;
    --doc-example-main-bg-color: #a88dcb;
    --doc-example-aside-bg-color: #b2a2c6;
  }
  .vi-input {
    --vi-input-border-color: var(--doc-border-color);
    --vi-input-mixed-bg-color: var(--doc-bg-color);
    &.is-disabled {
      --vi-input-disabled-color: #454545;
      &:hover {
        --vi-input-border-color: var(--doc-border-color);
      }
    }
  }
  .vi-radio {
    --vi-radio-dot-inner-color: var(--doc-bg-color);
    --vi-radio-dot-color: var(--doc-bg-color);
    --vi-radio-border-color: var(--doc-border-color);
  }
  .vi-checkbox {
    --vi-checkbox-square-inner-color: var(--doc-bg-color);
    --vi-checkbox-border-color: var(--doc-border-color);
  }
  .vi-stepper {
    --vi-stepper-button-bg-color: var(--doc-bg-color);
    --vi-stepper-border-color: var(--doc-border-color);
    --vi-stepper-border-color-hover: #777777;
    --vi-stepper-bg-color: #454545;
  }
  .vi-backtop {
    --vi-backtop-shadow-color: var(--doc-bg-color);
    --vi-backtop-bg-color: var(--doc-bg-color);
  }
  .vi-tabs {
    --vi-tabs-header-bg-color: var(--doc-example-header-bg-color);
    --vi-tabs-border-color: var(--doc-border-color);
  }
  .vi-alert {
    @each $t in $types {
      &--#{$t} {
        --vi-alert-bg-color: var(--vi-color-#{$t}-deep);
      }
    }
  }
  .vi-toast {
    @each $t in $types {
      &--#{$t} {
        --vi-toast-border-color: var(--vi-color-#{$t}-deep);
        --vi-toast-bg-color: var(--vi-color-#{$t}-deep);
      }
    }
  }
}