:root {
  --doc-bg-color: #ffffff;
  --doc-padding: 18px;
  --doc-scroll-bar-wh: 8px;
  --doc-scroll-bar-color: #dbdbdb;
  --doc-scroll-bar-color-deep: #cecece;
  --doc-basic-font-size: 14px;
  --doc-border-color: #dddddd;
  --doc-font-color: #555555;
  --doc-footer-height: 300px;
  --doc-search-mask-color: #eeeeeeaa;
  --doc-search-modal-shadow-color: #555555;
  --doc-search-result-item-shadow-color: #ddd;
  --doc-shadow-color: #dcd6e4;
  --doc-base-radius: 5px;
  --doc-color-primary: #802ae8;
  --doc-color-success: #72d342;
  --doc-color-info: #c2c2c2;
  --doc-color-warning: #e2b72b;
  --doc-color-danger: #e25f2b;
  --doc-color-white: #ffffff;
  --doc-homepage-animation-duration: 1s;
  --doc-backtop-shadow-color: #dddddd;
  --doc-example-padding: 18px;
  --doc-example-header-bg-color: #ececec;
  --doc-example-border-color: #ececec;

  /** vitepress 首页 */
  --vp-button-brand-border: var(--vi-color-primary);
  --vp-button-brand-hover-border: var(--vi-color-primary);
  --vp-button-brand-hover-text: var(--vi-color-primary);
  --vp-button-brand-hover-bg: transparent;
  --vp-button-brand-bg: var(--vi-color-primary);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vi-color-primary), #4d2ae8, violet);

  /** vitepress 侧边栏 */
  --vp-c-brand: #802ae8;
  --vp-c-bg-alt: unset;
  --vp-c-divider-light: transparent;
  --vp-sidebar-width: 300px;

  /** vitepress 内容区 */
  --vp-code-block-bg: #f9f9f9;
  --vp-code-copy-code-active-text: 000;
  --vp-c-text-dark-3: 000;
  --vp-c-brand-dark: var(--vi-color-primary);
  --vp-custom-block-tip-bg: #892be211;
  --vp-custom-block-tip-text: var(--vi-color-primary);
  --vp-custom-block-tip-border: var(--vi-color-primary);
}

html.dark {
  &:root {
    --doc-scroll-bar-color: #555555;
    --doc-scroll-bar-color-deep: #666666;
    --doc-border-color: #555555;
    --vp-code-block-bg: #3c3841;
    --search-mask-color: #000000aa;
    --search-modal-shadow-color: #000000;
    --doc-bg-color: #242424;
    --toast-info-color: #202121;
    --shadow-color: #1a1a1a;
    --doc-search-modal-shadow-color: #000000;
    --doc-search-result-item-shadow-color: #0f0f0f;
    --doc-backtop-shadow-color: #000000;
    --doc-example-header-bg-color: #303030;
    --doc-example-border-color: #555555;
  }
}