:root {
  // color
  --vi-color-primary: #802ae8;
  --vi-color-success: #72d342;
  --vi-color-info: #c2c2c2;
  --vi-color-warning: #e2b72b;
  --vi-color-danger: #e25f2b;
  --vi-color-primary-weak: #f1e2ff;
  --vi-color-success-weak: #eaffe0;
  --vi-color-info-weak: #ececec;
  --vi-color-warning-weak: #fff8e0;
  --vi-color-danger-weak: #ffe4da;
  --vi-color-primary-deep: #43186a;
  --vi-color-success-deep: #2d5d16;
  --vi-color-info-deep: #4b4b4b;
  --vi-color-warning-deep: #554714;
  --vi-color-danger-deep: #572715;
  --vi-color-violet: #ee82ee;
  --vi-color-white: #fff;
  --vi-color-black: #000;
  --vi-color-black-weak: #666;
  --vi-color-gray: #dddddd;
  --vi-color-shadow: #dcd6e4;
  --vi-color-mask-black: rgba(0, 0, 0, 0.5);
  --vi-bg-color: #ffffff;
  --vi-shadow-dark: 0 0 18px rgba(0, 0, 0, 0.2);

  // font
  --vi-font-size-small: 12px;
  --vi-font-size-base: 14px;
  --vi-font-size-large: 18px;
  --vi-font-size-huge: 22px;

  --vi-base-padding: 18px;
  --vi-base-radius: 5px;
  --vi-small-radius: 2px;
  --vi-animation-duration: 0.3s;
  --vi-opacity-half: 0.666667;
  --vi-round: 999999999px;

  // vi-button
  --vi-button-animation-duration: 0.1s;
  --vi-button-text-bg-color: #f5f5f5;
  --vi-button-round-radius: 20px;
  --vi-button-circle-normal: 38px;
  --vi-button-circle-small: 34px;
  --vi-button-circle-large: 42px;
  --vi-button-padding-small: 4px 8px;
  --vi-button-padding-large: 8px 22px;

  // vi-icon
  --vi-icon-color: 'inherit';
  --vi-icon-hover-color: var(--vi-icon-color);
  --vi-icon-loading-duration: 2s;

  // vi-header、vi-main、vi-aside、vi-footer
  --vi-header-height: 80px;
  --vi-header-padding: 0 18px;
  --vi-main-padding: 18px;
  --vi-aside-width: 300px;
  --vi-footer-height: 80px;
  --vi-footer-padding: 0 18px;
  
  // vi-input
  --vi-input-border-color: var(--vi-color-info);
  --vi-input-placeholder-color: #bfbfbf;
  --vi-input-disabled-color: #eeeeee;
  --vi-input-mixed-bg-color: #f4ecfd;
  --vi-input-limit-color: var(--vi-color-info);
  --vi-input-icon-color: var(--vi-color-info);

  // vi-radio
  --vi-radio-dot-color: var(--vi-color-info);
  --vi-radio-dot-border-color: var(--vi-color-info);
  --vi-radio-dot-inner-color: var(--vi-color-white);
  --vi-radio-border-color: var(--vi-color-info);

  // vi-checkbox
  --vi-checkbox-square-inner-color: var(--vi-color-white);
  --vi-checkbox-border-color: var(--vi-color-info);

  // vi-switch
  --vi-switch-off-bg-color: var(--vi-color-shadow);
  --vi-switch-on-bg-color: var(--vi-color-primary);
  --vi-switch-width: 40px;
  --vi-switch-height: 20px;
  --vi-switch-border-width: 2px;
  --vi-switch-active-circle-color: #ffffff;

  // vi-stepper
  --vi-stepper-button-bg-color: #f6f6f6;
  --vi-stepper-bg-color: #eeeeee;
  --vi-stepper-border-color: var(--vi-color-gray);
  --vi-stepper-border-color-hover: var(--vi-color-info);

  // vi-backtop
  --vi-backtop-icon-color: var(--vi-color-white);
  --vi-backtop-shadow-color: var(--vi-color-gray);
  --vi-backtop-bg-color: var(--vi-color-white);

  // vi-tabs
  --vi-tabs-header-bg-color: var(--vi-color-info-weak);
  --vi-tabs-border-color: var(--vi-color-gray);
  --vi-tabs-navbar-bg-color: var(--vi-color-info-weak);
  --vi-tabs-navbar-shadow: 0px 2px 4px var(--vi-color-primary-deep);

  // vi-message
  --vi-message-border-color: var(--vi-color-shadow);

  // vi-dialog
  --vi-dialog-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  --vi-dialog-bg-color: var(--vi-color-white);

  // vi-drawer
  --vi-drawer-bg-color: var(--vi-color-white);

  // vi-select
  --vi-select-shadow: 0 0 8px rgba(146, 146, 146, 0.3);
  --vi-select-disabled-bg-color: var(--vi-color-info-weak);
  --vi-select-disabled-color: var(--vi-color-info);
  --vi-select-disabled-border-color: var(--vi-input-border-color);
  --vi-select-option-hover-color: #f1f1f1;

  // vi-tag 
  --vi-tag-border-color: var(--vi-color-primary);
  --vi-tag-bg-color: var(--vi-color-primary-weak);
  --vi-tag-color: var(--vi-color-primary);

  // vi-message
  --vi-message-position: 50%;
  --vi-message-translate-x: -50%;
  --vi-message-translate-y: -100%;

  // vi-transfer
  --vi-transfer-width: 200px;
  --vi-transfer-height: 250px;
  --vi-transfer-title-padding: 8px 12px;
  --vi-transfer-list-padding: 12px 0;
  --vi-transfer-item-padding: var(--vi-transfer-title-padding);
}