:root {
  --primary-color: #802ae8;
  --secondary-color: #802aff;
  --bg-color: #ffffff;
  --scroll-bar-color: #dbdbdb;
  --basic-font-size: 14px;
  --animation-duration: 0.3s;
  --border-radius: 5px;
  --header-height: 80px;
  --font-color: #555555;

  // 定制 vitepress
  --vp-code-block-bg: #ddd;   // 代码块背景色
  --vp-c-brand: #802ae8;    // 侧边栏高亮色
  --vp-c-bg-alt: unset;
  --vp-c-divider-light: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  word-break: break-all;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--basic-font-size);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scroll-bar-color);
  }
}

// html {
//   // 变为灰白
//   filter: grayscale(1) !important;
//   -webkit-filter: grayscale(1) !important;
// }

#app {
  min-width: 1024px;
  // header 
  .VPNav {
    background-color: #fff;
    position: relative;
    // header 底部边框
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #ddd;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    // 左边 logo 
    .title {
      color: #802ae8;
    }
    // 右边
    .content {
      backdrop-filter: unset;
    }
  }
  // aside
  .VPSidebar {
    background-color: #fff;
    border-right: 1px solid #ddd;
  }
}

.hidden {
  overflow: hidden;
}
