:root {
  --primary-color: #802ae8;   // rgb(128, 42, 232)
  --secondary-color: #802aff;   // rgb(128, 42, 255)
  --bg-color: #ffffff;
  --scroll-bar-color: #dbdbdb;
  --basic-font-size: 16px;
  --all-animation-duration: 0.3s;
  --border-raduis: 5px;
  --header-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--basic-font-size);
  transition: all var(--all-animation-duration);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scroll-bar-color);
  }
}

code {
  background-color: #eee;
  border-radius: 5px;
  padding: 2px 8px;
}

#app {
  min-width: 1024px;
}
