:root {
  --vi-button-animation-duration: 0.1s;
  --vi-button-circle-normal: 38px;
  --vi-button-circle-small: 32px;
  --vi-button-circle-large: 42px;

  --vi-button-padding-normal: 4px 14px;
  --vi-button-padding-small: 2px 6px;
  --vi-button-padding-large: 6px 20px;

  --vi-button-shadow: 0 0 4px 0;
}
