:root {
  --vi-button-animation-duration: 0.1s;
  --vi-button-text-bg-color: #f5f5f5;
  --vi-button-round-radius: 20px;
  --vi-button-circle-normal: 38px;
  --vi-button-circle-small: 34px;
  --vi-button-circle-large: 42px;
  --vi-button-padding-small: 4px 8px;
  --vi-button-padding-large: 8px 22px;
}
