:root {
  // vi-input
  --vi-input-border-color: var(--vi-color-info);
  --vi-input-placeholder-color: #bfbfbf;
  --vi-input-disabled-color: #eeeeee;
  --vi-input-mixed-bg-color: #f4ecfd;
  --vi-input-limit-color: var(--vi-color-info);
  --vi-input-icon-color: var(--vi-color-info);
}
