:root {
  --vi-radio-dot-color: var(--vi-color-info);
  --vi-radio-dot-border-color: var(--vi-color-info);
  --vi-radio-dot-inner-color: var(--vi-color-white);
  --vi-radio-border-color: var(--vi-color-info);
}
