:root {
  --vi-select-shadow: 0 0 8px rgba(146, 146, 146, 0.3);
  --vi-select-disabled-bg-color: var(--vi-color-info-weak);
  --vi-select-disabled-color: var(--vi-color-info);
  --vi-select-disabled-border-color: var(--vi-input-border-color);
  --vi-select-option-hover-color: #f1f1f1;
}
