:root {
  --vi-switch-off-bg-color: var(--vi-color-shadow);
  --vi-switch-on-bg-color: var(--vi-color-primary);
  --vi-switch-width: 40px;
  --vi-switch-height: 20px;
  --vi-switch-border-width: 2px;
  --vi-switch-active-circle-color: #ffffff;
}
