:root {
  --vi-tabs-header-bg-color: var(--vi-color-info-weak);
  --vi-tabs-border-color: var(--vi-color-gray);
  --vi-tabs-navbar-bg-color: var(--vi-color-info-weak);
  --vi-tabs-navbar-shadow: 0px 2px 4px var(--vi-color-primary-deep);
}
