:root {
  --vi-transfer-width: 200px;
  --vi-transfer-height: 250px;
  --vi-transfer-title-padding: 6px 12px;
  --vi-transfer-list-padding: 6px 0;
  --vi-transfer-item-padding: var(--vi-transfer-title-padding);
}
